*{
    margin: 0;
}
.container{
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: beige;
}
.calc{
    background-color: black;
    border-radius: 10px;
    padding: 20px;
}
.display input{
    width: 245px;
    height: 75px;
}
input{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, red, yellow);
}
input:hover{
    width: 60px;
    height: 60px;
    border-radius: 10px;
  background-image: linear-gradient(to bottom right, aqua, rgb(0, 89, 255));
}
.display input{
   text-align: right;
   font-size: 50px;
}
.in1:hover{
    width: 245px;
    height: 75px;
}
h2{
    color: aliceblue;
}
h5{
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


